{% extends 'base_user.html' %}
{% load static %}
{% block title %}
Shopping
{% endblock %}
{% block content %}

<div class="container">
    <h2 class="text-center my-4">List of Products</h2>
    <button class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>
    <table class="table table-hover align-middle table-responsive text-center">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Count</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for shopping in query_shopping %}
                <tr>
                    <th scope="row">{{ shopping.id }}</th>
                    <td>{{ shopping.detail_product_name }}</td>
                    <td>{{ shopping.detail_product_count }}</td>
                    <td>${{ shopping.detail_product_price}}</td>
                    <td>
                        <button class="btn btn-warning px-4 py-2" ><span><a href="{% url 'update_product' id=shopping.id %}" style="text-decoration: none;" class="text-light" >Update</a></span></button>
                        <button class="btn btn-danger px-4 py-2"><span><a href="{% url 'delete_product' id=shopping.id %}" style="text-decoration: none;" class="text-light" >Delete</a></span></button>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add List Shopping</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="" method="POST">
                    {% csrf_token  %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{ form_product.detail_product_name.label}}</label>
                        {{ form_product.detail_product_name }}
                        <label for="exampleInputEmail1" class="form-label">{{ form_product.detail_product_count.label}}</label>
                        {{ form_product.detail_product_count}}
                        <label for="exampleInputEmail1" class="form-label">{{ form_product.detail_product_price.label}}</label>
                        {{ form_product.detail_product_price}}
                    </div>
                    <button type="submit" class="btn btn-primary text-center">Add Product</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}